<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.50.2" targetFramework="net451" />
  <package id="MSTest.TestFramework" version="1.0.1-preview" targetFramework="net451" />
  <package id="MSTest.TestFramework.AdvancedDataRow" version="1.0.0-CI00003" targetFramework="net451" />
</packages>